<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='./css/tacit.min.css'>
    <link rel='stylesheet' href='./css/styles.css'>
    <script src='./js/index.js'></script>
</head>
<title>Сервер чекового принтера</title>
<body>
<div class='head-container'>
    <div class='head-caption'>
        <h1>Сервер чекового принтера</h1>
    </div>
    <div class='head-api-button'>
        <form action='/api'>
            <input type='submit' value='API'/>
        </form>
    </div>
</div>
<h2>Подключенное устройство:</h2>
<ul id='connected-devices'>
</ul>
<h2>Доступные последовательные порты:</h2>
<ul id='serial-ports'>
</ul>
<h2>Чеки:</h2>
<ul id='check-list'>
</ul>
</body>
</html>